.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #189ad3;
  color: #fff;
  padding: 20px 30px;
  position: relative;
}
.navigation .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.navigation .logo i {
  font-size: 30px;
  margin-left: 15px;
}
.navigation .my-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.navigation .my-account p {
  margin-right: 15px;
}
.navigation .my-account i {
  margin-left: 8px;
}
.navigation .my-account #chevron-down.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-bottom: 10px;
}
.navigation .search-input {
  width: 300px;
  border-radius: 3px;
  border: 2px solid #46aedb;
  outline: none;
}
.navigation .search-input:focus {
  border: 2px solid #46aedb;
}
.navigation .my-cart {
  padding-right: 15px;
}
.navigation .my-cart i {
  font-size: 25px;
}
.navigation .my-cart .items {
  position: absolute;
  top: 5%;
  right: 3%;
  background-color: #d35118;
  color: #333;
  border-radius: 50%;
  padding: 2px 6px;
}
.navigation .my-account-list {
  position: fixed;
  top: 6%;
  right: 21%;
  width: 200px;
  background-color: #eeeeee;
  z-index: 1;
  border: 1px solid lightgray;
  border-radius: 3px;
  display: none;
}
.navigation .my-account-list ul li {
  padding: 10px 20px;
  border-bottom: 1px solid #fff;
  color: #333;
}
.navigation .my-account-list.active {
  display: block;
}

@media (max-width: 1321px) {
  .navigation .my-account-list {
    right: 19%;
  }
}
@media (max-width: 1172px) {
  .navigation .my-account-list {
    right: 18%;
  }
}
@media (max-width: 1083px) {
  .navigation .my-cart .items {
    right: 3.5%;
  }
}
@media (max-width: 1079px) {
  .navigation .my-account-list {
    right: 17%;
  }
}
@media (max-width: 1079px) {
  .navigation .my-account-list {
    right: 16%;
  }
}
@media (max-width: 956px) {
  .navigation .my-account-list {
    right: 14%;
  }
}
@media (max-width: 923px) {
  .navigation .my-cart .items {
    right: 4%;
  }
}
@media (max-width: 855px) {
  .navigation .my-account-list {
    right: 12%;
  }
}
@media (max-width: 800px) {
  .navigation .logo h1 {
    font-size: 20px;
  }
  .navigation .logo i {
    font-size: 20px;
  }
  .navigation .search-input {
    width: 200px;
  }
  .navigation .my-cart .items {
    right: 4.5%;
  }
}
@media (max-width: 720px) {
  .navigation .my-cart .items {
    right: 5%;
  }
}
@media (max-width: 701px) {
  .navigation {
    padding: 20px 20px;
  }
  .navigation .my-cart .items {
    right: 4%;
  }
}
@media (max-width: 632px) {
  .navigation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5;
    grid-template-areas: "logo my-cart" "search-input my-account";
  }
  .logo {
    grid-area: logo;
    margin-bottom: 15px;
  }
  .search-input {
    grid-area: search-input;
  }
  .my-account {
    grid-area: my-account;
    justify-self: end;
  }
  .my-cart {
    grid-area: my-cart;
    justify-self: end;
  }
  .navigation .my-account-list {
    top: 12%;
    right: 1%;
  }
}
@media (max-width: 452px) {
  .navigation .my-cart .items {
    right: 6%;
  }
}
@media (max-width: 420px) {
  .navigation .my-account p {
    margin-right: 5px;
    font-size: 12px;
  }
}
@media (max-width: 376px) {
  .navigation .my-account p {
    display: none;
  }
}
@media (min-width: 2560px) {
  .navigation .logo h1 {
    font-size: 50px;
  }
  .navigation .logo i {
    font-size: 50px;
  }
  .navigation .search-input {
    width: 400px;
    font-size: 25px;
  }
  .navigation .my-account {
    font-size: 30px;
  }
  .navigation .my-cart i {
    font-size: 40px;
  }
  .navigation .my-cart .items {
    width: 30px;
    height: 35px;
    font-size: 25px;
    right: 1%;
  }
}