
$mens-color: #189ad3;
$womens-color: #ff6289;
$my-cart-color: #d35118;
$account-list-color: #eeeeee;
$product-dep-color: #fdcf60;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

// .container {
//   .main {
//     z-index: -1;
//   }
// }
